

main {
  width: 1400px;
  margin: 250px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  gap: 25px;
  padding: 100px;

  background-color: rgba(30, 30, 30, 0.95);
}

#div-inputs{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.input-label {
  display: flex;
  flex-direction: column;
  gap: 5px
}

#boton-actualizar {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  font-size: 18px;
}

#boton-alta {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  font-size: 18px;
}

#id-input {
  field-sizing: content;
}

#precio-input {
  field-sizing: content;
}

#imagen-input {
  width: 300px;
}

#descripcion-input {
  width: 400px;
  height: 200px;
}

#tipo-input {
  width: 150px;
}

#stock-input {
  width: 140px;
}

#nombre-input {
  width: 200px;
}